body {
  background-color: moccasin;
}

.App {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  border-bottom: 5px #f68f54 solid;
  margin-top: 1rem;
  padding: 1rem;

  &__label {
    color: #f68f54;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__field {
    width: 10rem;
    height: 2rem;
    margin-left: 0.5rem;
    margin-right: 2rem;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    background-color: moccasin;
    color: darkred;
    border: 1px solid #f68f54;
  }

  &__input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  &__button {
    background-color: darkred;
    color: #ffffff;
    width: 10rem;
    height: 2rem;
    font-weight: bold;
    border-radius: 20px;
    margin: auto;
  }
}

.part {
  margin: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  &__title {
    font-weight: bold;
  }
  &__img {
    width: 150px;
    height: 150px;
    object-fit: content;
    margin-bottom: 2.5rem;
  }

  &__table {
    td {
      border: 1px #f68f54 solid;
    }
  }
}
